{% extends 'base/login_signup_base.html' %}

{% block section %}

<title>Start</title>




<br><br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-3">
  
  </div>

  <div class="col-md-6 text-center">

  <div class="text-center">
  	<button>
    <a href="{%url 'main:signup_view'%}"><h1>SignUp</h1></a>
    </button>
  </div>

    <div class="text-center">
  	<button>
    <a href="{%url 'login'%}"><h1>LogIn</h1></a>
    </button>
  </div>

  </div>
  

  <div class="col-md-3">
    
  </div>
  </div>
</div>



{% endblock %}